*{
  margin: 0px;   
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url(../img/general/Fondo1.png);
}
.contenedor{
  background-image: url(../img/general/Fondo1.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 500px;
  background-color: #fff;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.form {
  width: 400px;
  margin: 50px;
  display: flex;
  flex-direction: column;
}
/* TITULO */
h2{
  background: #0B2161;
  color: white;
  padding: 5px;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}
h3{
  font-size: 18px;
  color: #fff;
}
/* FORMULARIO 1 */
.formulario1 {
  width: 400px;
  display: flex;
  flex-direction: column;
  background: #B3B3B3;
  border-bottom: 10px solid #0B2161;
}
.contenido{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
label{
  width: 130px;
}
#nombre, #directorio{
  width: 200px;
}
#dir{
  width: 30px;
}
#nombreDoc{
  padding-left: 20px;
  margin-bottom: 5px;
  display: flex;
}
#directory{
  padding-left: 20px;
  display: flex;
}
/* CHECKBOXES */
.checkbox {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#pdf, #excel {
  margin-left: 20px;
}
/* BOTONES */
.botones{
  display: flex;
  justify-content: space-evenly;
}
.boton{
  padding: 5px;
  color: #fff;
  font-weight: bold;
  background: #0B2161;
  width: 150px;
  margin-top: 20px;
  border-bottom: 5px solid #B3B3B3;
}
